*{
    font-family: 'Comic Neue', cursive;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.itemsMenu{
    padding-left: 50px;
    text-decoration: none;
    color: steelblue;
    font-weight: bolder;
}

.imgPrincipal{
    background-image: url("img/fondoPrincipal.jpg");
    /* background-repeat: repeat-x; */
    min-height: 400px;
}